@{
    ViewBag.Title = "About";
}
<h2>Fiesta</h2>
<h3>Takes care of all your festivities needs!</h3>


<p>
    The site is based on ASP.NET MVC framework and includes ASP.NET WEB API's as well to support other future clients
    such as Android.
</p>
<p>
    For the UI on top of HTML5/Javascript/CSS3/Razor I've used JQuery and JQuery UI as well as Bootstrap.
</p>
<p>
    Fiesta helps with Festivities needs whether you are a Producer (Festival Manager) who whishes to market Festivals,
    a regular User who wants to enroll to a festival or
    specific event or just someone Anonymous who whishes to check out what's going on.
</p>
<p>
    Enjoy,
</p>
<p>
    Danny Konstadt
</p>
